* 
{
    font-family: 'Open sans', sans-serif;
}


.bg-lightgray
{
    background-color:whitesmoke;
}

.color-white
{
    color:white;
}
.text-lightgray 
{
    color: gainsboro;
}
.text-mediumgray 
{
    color:lightgray;
}
.text-red 
{
    color:orangered;
}
i 
{
    margin-right: 7px;
}
.i-nomargin
{
    margin-right:0px;
}
.bold
{
    font-weight:bold;
}
.imagebutton, .imagebutton:hover, .imagebutton:active
{
    outline: none;
    background-color: transparent;
    border: 0px;
}