@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div style="margin-bottom:15px">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nieuw item toevoegen..." />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">+</button>
            </span>
        </div>
    </div>

</div>
<div class="container">
    <table class="table" style="margin:0px">
        <tr>
            <td>Grote look</td>
            <td align="right"><button class="btn-default btn-xs btn">-</button></td>
        </tr>
        <tr>
            <td>Gember</td>
            <td align="right"><button class="btn-default btn-xs btn">-</button></td>
        </tr>
        <tr>
            <td>Suiker</td>
            <td align="right"><button class="btn-default btn-xs btn">-</button></td>
        </tr>
        <tr>
            <td>Brood</td>
            <td align="right"><button class="btn-default btn-xs btn">-</button></td>
        </tr>
        <tr>
            <td>Boter</td>
            <td align="right"><button class="btn-default btn-xs btn">-</button></td>
        </tr>
    </table>

</div>